html {
    min-width: 870px;
    max-width: 1110px;
}

body{
    text-align: -webkit-center;
}

.mainDiv{
    min-width: 300px;
    max-width: 600px;
    margin-bottom: 45px;
}

.layerDiv {
    background-color: bisque;
    min-width: 300px;
    min-height: 150px;
    margin-bottom: 8px;
}

.slotBoxes {
    float: left;
    min-width: 21%;
    background-color: cornsilk;
    margin: 2%;
    min-height: 124px;
    text-align: center;
}

.btnContainer {
    width: 120px;
    height: 50px;
    margin: auto;
    text-align: center;
}

button {
    text-align: center;
}

.payTable {
    width: 900px;
    margin: auto;
}

.payLine {
    width: 250px;
    margin-right: 20px;
    margin-bottom: 4px;
    float: left;
    margin-left: 10px;
}

.p-description {
    float: right;
    text-align: left;
    width: 70%;
}


